<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <pipwave_magento>
            <general>
                <enable>1</enable>
            </general>
        </pipwave_magento>
    </default>
</config>
