<?xml version="1.0"?>
<!-- 
/*
 *this is the html page for configuration page
 *location admin panel > store > configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:noNamespaceSchemaLocation=
		"../../../../Magento/Config/etc/system_file.xsd">
	<system>
		<!--
		/*
		 *id:			identity for tab
		 *sortOrder:	position of tab
		 *translate:	let magento know which title need to translate
		 *label:		tab title
		 *
		 *showInDefault, showInStore, showInWebsite decide element visibility
		 *											on each scope
		 */-->
		<tab id="local" translate="label" sortOrder="130">
			<label>Local</label>
		</tab>
		<section id="local_configuration" translate="label" sortOrder="130"
				 showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Local_Configuration</label>
			<tab>local</tab>
			<resource>Local_Configuration::local_configuration</resource>
			<group id="general" translate="label" type="text" sortOrder="130"
				   showInDefault="1" showInWebsite="0" showInStore="0">
				<label>General Configuration</label>
				<field id="enable" translate="label" type="select" 
					   sortOrder="130" showInDefault="1" showInWebsite="0" 
					   showInStore="0">
					<label>Enable Local</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>








